<div>
  <h1 class="font-bold text-4xl">Home#index</h1>
  <p>Find me in app/views/home/index.html.erb</p>
  <% if current_user %>
    <p><%= link_to "登出", destroy_user_session_path, data: { turbo_method: :delete} %></p>
  <% else %>
    <p><%= link_to "註冊", new_user_registration_path %></p>
    <p><%= link_to "登入", new_user_session_path %></p>
  <% end %>
</div>
<div class="min-w-max">
  <p><%= link_to "add short link",
          new_link_path,
          class: %w(border-2 p-2 cursor-pointer hover:underline) %>
  </p>
</div>
<%= render "links/links", links: @links if current_user %>
<%= render "links/links_from_hashes", links: ActiveSupport::JSON.decode(session['hashes']) if session['hashes'] %>
