<!DOCTYPE html>
<html>
  <head>
    <title>Capsule</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <%= link_to "Home", root_path, class: %w(m-2 text-6xl font-thin hover:bg-gray-100) %>
    </header>
    <div class="p overflow-y-auto">
      <p class="alert alert-success">
        <% if notice %>
          <%= notice %>
        <% end %>
      </p>
      <p class="alert alert-danger">
        <% if alert %>
          <%= alert %>
        <% end %>
      </p>
    </div>
    <main class="container mx-auto mt-14 px-5 flex">
      <%= yield %>
    </main>
  </body>
</html>
